<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Graph UI</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% load static %}
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
</head>
<body>

  {% comment %} <div v-if="mode" id="3d-graph"></div> {% endcomment %}
  <div v-else id="graph"></div>

  <script type="importmap">
    {
      "imports": {
        "three" : "https://unpkg.com/three@0.165.0/build/three.module.js",
        "three/addons/": "https://unpkg.com/three@0.165.0/examples/jsm/",

        "3d-force-graph" : "https://cdn.jsdelivr.net/npm/3d-force-graph@1.73.3/+esm",
        "three-spritetext" : "https://cdn.jsdelivr.net/npm/three-spritetext@1.8.2/+esm",
        "CSS2DRenderer" : "//unpkg.com/CSS2DRenderer",
        "force-graph" : "https://cdn.jsdelivr.net/npm/force-graph@1.43.5/+esm"
      }
    }

  </script>

  <script type="module" src="{% static 'js/main.js' %}"></script>

</body>
</html>
